---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

// Our variables
$base-font-family: "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   17px;
$base-font-weight: 500;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;



$background-color: #fdfdfd;
$background-color: #ffffff; // change this
$brand-color:      #2a7ae2;
$brand-color:      #702b9d; // change this

$grey-color:       #828282; // change this
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$blue-color:       #2a7ae2;
$blue-color:       #2054d7;
$blue-color:       #7b5aa6; // change this
$blue-color:       #2774ae; // change this
$blue-color-light: lighten($blue-color, 40%);
$blue-color-dark:  darken($blue-color, 25%);

$brand-color-light: lighten($brand-color, 20%);
$brand-color-dark:  darken($brand-color, 15%);


$text-color:       #000; // change this
$text-color:       darken($grey-color, 40%); // change this


// MAIN COLORS -----------------------------------------

$brand-color:       #2774ae;
$brand-color-light: #daebfe;
$brand-color-dark:  #005587;

$grey-color:        #828282;
$grey-color-light:  lighten($grey-color, 40%);
$grey-color-dark:   darken($grey-color, 25%);

$blue-color:         #2774ae;
$blue-color-lighter: #8bb8e8;
$blue-color-light:   #daebfe;
$blue-color-dark:    #005587;
$blue-color-darker:  #003b5c;

$gold-color:         #ffd100;
$gold-color-light:   lighten($gold-color, 20%);
$gold-color-dark:    #ffc72c;
$gold-color-darker:  #ffb81c;

$magenta-color:      #ff00a5;
$green-color:        #00ff87;
$yellow-color:       #ffff00;
$cyan-color:         #00ffff;
$purple-color:       #8237ff;

$magenta-color:      #cb088a;
$purple-color:       #672c8d;

// -----------------------------------------------------

$text-color: darken($grey-color, 35%);


// Width of the content area
$content-width:    925px;

$on-palm:          690px;
$on-laptop:        925px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

img[src*='#center'] {
    display: block;
    margin: auto;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 50% !important;
  //background-color: #2774ae;
  //background-color: $blue-color-dark;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background: linear-gradient(90deg, $blue-color-dark, $blue-color, $blue-color-dark);
  box-shadow: inset 0px 10px 10px -10px rgba(0,0,0,0.6);
  //background-image: url('/images/logos_lab_wireless_lab_38_svg.svg'), linear-gradient(90deg, $blue-color-dark, $blue-color, $blue-color-dark);
}

.particles-js-logo {
background-image: url('/images/logos_lab_wireless_lab_38_svg.svg');
background-position: 50% 50%;
background-size: 300px;
z-index: 1;
}

.particle-canvas{
height: 30% !important;
}


