<div markdown="1">
**{{ p.title }}**{% if p.category %}&nbsp;&nbsp;<span class="badge badge-magenta-inverted">{{ p.category }}</span>{% endif %}  
by {{ p.authors }} &middot; {{ p.date | date: "%B %Y" }} 
{% if p.journal %}<br>_{{ p.journal }}_{% endif %}<br>{% if p.short %}_<span style="color: gray">{{ p.short }}</span><br>_{% endif %}
{% if p.pdf %}<a href="{{ p.pdf }}"><span class="badge badge-blue-inverted">PDF</span></a>&nbsp;{% endif %}{% if p.ieee %}<a href="{{ p.ieee }}"><span class="badge badge-blue-inverted">IEEE</span></a>&nbsp;{% endif %}{% if p.arxiv %}<a href="{{ p.arxiv }}"><span class="badge badge-blue-inverted">arXiv</span></a>&nbsp;{% endif %}{% if p.website %}<a href="{{ p.website }}"><span class="badge badge-blue-inverted">Website</span></a>&nbsp;{% endif %}{% if p.code %}<a href="{{ p.code }}"><span class="badge badge-blue-inverted">GitHub</span></a>&nbsp;{% endif %}{% if p.slides %}<a href="{{ p.slides }}"><span class="badge badge-blue-inverted">Slides</span></a>&nbsp;{% endif %}{% if p.poster %}<a href="{{ p.poster }}"><span class="badge badge-blue-inverted">Poster</span></a>&nbsp;{% endif %}{% if p.bibtex %}<a href="{{ p.bibtex }}"><span class="badge badge-blue-inverted">BibTeX</span></a>&nbsp;{% endif %}{% if p.note %}(<span style="color: red">{{ p.note }}</span>){% endif %}
</div>
