<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="{{ site.baseurl }}">{{ site.title-footer }}</a></li>
          <li><a href="https://ee.ucla.edu" target="_blank">UCLA Electrical and Computer Engineering</a></li>
          <li><a href="https://samueli.ucla.edu/" target="_blank">UCLA Samueli School of Engineering</a></li>
          <li><a href="https://ucla.edu" target="_blank">University of California, Los Angeles (UCLA)</a></li>
          <li><a href="https://ianproberts.com" target="_blank">Prof. Ian Roberts</a></li>
          <li>&copy; 2025 &middot; All rights reserved.</li>
        </ul>
        <a href="/"><img class="footer-logo" src="/images/logo_01.svg" /></a>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
        <p>{{ site.disclaimer }}</p>
      </div>
    </div>

  </div>

</footer>

<!-- particles.js container -->
<div id="particles-js" style="text-align: center;"></div>

<!-- scripts -->
<script src="/particles.js"></script>
<script src="/js/app.js"></script>
