<div markdown="1">
**{{ p.title }}**{% if p.category %}&nbsp;&nbsp;<span class="badge badge-magenta-inverted">{{ p.category }}</span>{% endif %}  
by {{ p.authors }} &middot; {{ p.date | date: "%B %Y" }} 
{% if p.journal %}<br>_{{ p.journal }}_{% endif %}<br>{% if p.short %}_<span style="color: gray">{{ p.short }}</span><br>_{% endif %}
{% if p.pdf %}<a href="{{ p.pdf }}" class="badge badge-blue-inverted">PDF</a>&nbsp;{% endif %}{% if p.ieee %}<a href="{{ p.ieee }}" class="badge badge-blue-inverted">IEEE</a>&nbsp;{% endif %}{% if p.publisher %}<a href="{{ p.publisher }}" class="badge badge-blue-inverted">Publisher</a>&nbsp;{% endif %}{% if p.arxiv %}<a href="{{ p.arxiv }}" class="badge badge-blue-inverted">arXiv</a>&nbsp;{% endif %}{% if p.website %}<a href="{{ p.website }}" class="badge badge-blue-inverted">Website</a>&nbsp;{% endif %}{% if p.code %}<a href="{{ p.code }}" class="badge badge-blue-inverted">GitHub</a>&nbsp;{% endif %}{% if p.slides %}<a href="{{ p.slides }}" class="badge badge-blue-inverted">Slides</a>&nbsp;{% endif %}{% if p.poster %}<a href="{{ p.poster }}" class="badge badge-blue-inverted">Poster</a>&nbsp;{% endif %}{% if p.bibtex %}<a href="{{ p.bibtex }}" class="badge badge-blue-inverted">BibTeX</a>&nbsp;{% endif %}{% if p.note %}(<span style="color: red">{{ p.note }}</span>){% endif %}
</div>
