<!---
<div class="ppl">
<figure class="ppl-photo"><img src="/images/people/{{ p.photo }}#center" /></figure>
<div class="ppl-text"><div class="ppl-name">{% if p.site %}<a href="{{ p.site }}" target="_blank">{% endif %}{{ p.name }}{% if p.site %}</a>{% endif %}</div><div class="ppl-desc">{{ p.bio }}</div></div>
</div>


<div class="card-container">
  <div class="float-layout">
    <div class="card-image">
      <img src="/images/people/{{ p.photo }}#center">
      <div class="card">
        <div class="card-title">{% if p.site %}<a href="{{ p.site }}" target="_blank">{% endif %}{{ p.name }}{% if p.site %}</a>{% endif %}</div>
        <div class="card-desc">
          {{ p.bio }}
        </div>
      </div>
    </div>
  </div>
</div>
--->

<div class="card-container">
  <div class="float-layout">
    <div class="card-image">
      <img src="/images/people/{{ p.photo }}#center">
      <div class="card">
        <div class="card-desc">
          <strong>{% if p.site %}<a href="{{ p.site }}" target="_blank">{% endif %}{{ p.name }}{% if p.site %}</a>{% endif %}</strong> <span markdown="1">{{ p.bio }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

{% include text-image-begin.html image="people/ipr-headshot-crop-4.jpg" width=25 mobile=1 link=1 float='left' %}
<div markdown="1">
UCLA is located on a large, beautiful campus in the Westwood neighborhood of Los Angeles, California. 
It is consistently ranked among the top universities in the world, both holistically and across many indvidual fields including engineering. 
UCLA is particularly unique in that it is exceptionally well-rounded, offering first-class opportunities, education, and training for people of all intrests and backgrounds.

The electrical and computer engineering (ECE) department at UCLA includes some of the most accomplished researchers in their respective disciplines. 
Courses offered by UCLA ECE faculty are designed to equip students with strong analytical foundations and relevant practical skills that are necessary to succeed in industry, academia, and government labs. 

In particular, UCLA is regarded as one of the top schools in the world for students interested in wireless communication and sensing.
For such students, UCLA ECE offers a broad range of courses covering every aspect of wireless systems: from theory to implementation.
We offer courses on signal processing for communications, wireless communication theory, multi-antenna communications, RF circuit design, antenna theory, information theory, communication networks, optimization, and machine learning, along with several others.
Following graduation, UCLA ECE students go on to develop cutting-edge technologies at companies such as Qualcomm, Broadcom, Samsung, Google, Apple, Intel, Cisco, NVIDIA, Ericsson, Nokia, IBM, Viasat, and countless others.

{% if p.site %}<a href="{{ p.site }}" class="badge badge-blue-inverted" target="_blank">Personal Site</a>&nbsp;{% endif %}
{% if p.scholar %}<a href="{{ p.scholar }}" class="badge badge-blue-inverted" target="_blank">Google Scholar</a>&nbsp;{% endif %}
{% if p.github %}<a href="{{ p.github }}" class="badge badge-blue-inverted" target="_blank">GitHub</a>&nbsp;{% endif %}
{% if p.linkedin %}<a href="{{ p.linkedin }}" class="badge badge-blue-inverted" target="_blank">LinkedIn</a>&nbsp;{% endif %}
</div>
{% include text-image-end.html %}
