{% capture f %}people/{{ p.photo }}{% endcapture %}

{% include text-image-begin.html image=f width=25 mobile=1 link=0 float='left' %}
<div markdown="1">
<span markdown="1">**{{ p.name }}**&nbsp;{{ p.bio }}</span>

{% if p.interests %}**Interests:** {{ p.interests }}  {% endif %}
{% if p.experience %}**Experience:** {{ p.experience }}  {% endif %}
{% if p.ad %}<span style="color: #cb088a">{{ p.ad }}</span>  {% endif %}

{% if p.site %}<a href="{{ p.site }}" class="badge badge-blue-inverted" target="_blank">Personal Site</a>&nbsp;{% endif %}
{% if p.scholar %}<a href="{{ p.scholar }}" class="badge badge-blue-inverted" target="_blank">Google Scholar</a>&nbsp;{% endif %}
{% if p.github %}<a href="{{ p.github }}" class="badge badge-blue-inverted" target="_blank">GitHub</a>&nbsp;{% endif %}
{% if p.linkedin %}<a href="{{ p.linkedin }}" class="badge badge-blue-inverted" target="_blank">LinkedIn</a>&nbsp;{% endif %}
{% if p.cv %}<a href="{{ p.cv }}" class="badge badge-blue-inverted" target="_blank">CV</a>&nbsp;{% endif %}
</div>
{% include text-image-end.html %}
