<!---
<div class="ppl">
<figure class="ppl-photo"><img src="/images/people/{{ p.photo }}#center" /></figure>
<div class="ppl-text"><div class="ppl-name">{% if p.site %}<a href="{{ p.site }}" target="_blank">{% endif %}{{ p.name }}{% if p.site %}</a>{% endif %}</div><div class="ppl-desc">{{ p.bio }}</div></div>
</div>


<div class="card-container">
  <div class="float-layout">
    <div class="card-image">
      <img src="/images/people/{{ p.photo }}#center">
      <div class="card">
        <div class="card-title">{% if p.site %}<a href="{{ p.site }}" target="_blank">{% endif %}{{ p.name }}{% if p.site %}</a>{% endif %}</div>
        <div class="card-desc">
          {{ p.bio }}
        </div>
      </div>
    </div>
  </div>
</div>
--->

<!---
<div class="card-container">
  <div class="float-layout">
    <div class="card-image">
      <img src="/images/people/{{ p.photo }}#center">
      <div class="card">
        <div class="card-desc">
          <strong>{% if p.site %}<a href="{{ p.site }}" target="_blank">{% endif %}{{ p.name }}{% if p.site %}</a>{% endif %}</strong> <span markdown="1">graduated with their {{ p.degree }} in {{ p.finish }}.<br>Dissertation: {{ p.diss }}<br>Now with: {{ p.job }}<br>Fondest memory: {{ p.memory }}<br>Favorite paper of mine: {{ p.paper }}<br>Favorite thing to do in LA: {{ p.activity }}<br>Words of wisdom: {{ p.wisdom }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
--->

<div class="card-container">
  <div class="float-layout">
    <div class="card-image">
      <img src="/images/people/{{ p.photo }}#center">
      <div class="card">
        <div class="card-desc">
         <strong>{% if p.site %}<a href="{{ p.site }}" target="_blank">{% endif %}{{ p.name }}{% if p.site %}</a>{% endif %}</strong> <span markdown="1">{{ p.signoff }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
