<div style="display: block; overflow: auto;">
{% if include.link == 1 %}<a href="/images/{{ include.image }}">{% endif %}<img src="/images/{{ include.image }}" class="text-image-img {% if include.mobile == 0 %}hide-on-mobile{% endif %} {% if include.float == 'right' %}float-right{% endif %}" width="{{ include.width }}%" />{% if include.link == 1 %}</a>{% endif %}
