/**
 * Site header
 */
.site-header {
    // border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0px;
    margin-bottom: 0;
    float: left;
    color: $brand-color;

    &,
    &:visited {
        color: $grey-color-dark;
        color: $brand-color;
    }
    
    &:hover {
      color: $brand-color-light;
      color: lighten($brand-color, 20%);
      color: $brand-color-dark;
      text-decoration: none;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(10% - (#{$spacing-unit} / 2));
    width:         calc(10% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


.float-layout {
  padding: 5px 5px;
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0;
}

.card-container {
  overflow: hidden;
  //background-color: gray;
  border: 0px solid $grey-color-dark;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card {
  //background-color: dodgerblue;
  color: black;
  min-height: 100%; /*replace this it in width: 100%*/
  width: 80%;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}

.card-title {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  padding-top: 0px;
}

.card-desc {
  padding: 0px;
  text-align: left;
  font-size: 16px;
}

/*add this it*/
.card-image {
  display: flex;
}

div.card-image img {
  width: 25%;
  height: auto;
  margin-top: 5px;
}

/* Phone Devices Query */
@include media-query($on-palm) {
  div.card-image img {
    width: 70%;
    height: auto;
  }
  
  /*add this it*/
  .card-image {
     flex-direction: column;
  }
 
  .card {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .card-title {
    text-align: center;
  }
}

.ppl {
  display: inline-block;
  //background-color: $grey-color-light;
  padding: 5px;
  padding-left: 0px;
  width: 100%;
  margin-bottom: 20px;
}

.ppl-photo {
  max-width: 20%;
  height: inherit;
  text-align: left;
  margin: 0px;
  margin-right: 10px;
  display: block;
  float: left;
}

.ppl-text {
  text-align: left;
  padding-top: 0px;
  maring-top: 0px;
  padding-left: 30px;
  padding-right: 10px;
  //background: red;
  //display: inline;
}

.ppl-name {
  font-weight: bold;
  font-size: 18px;
}

.ppl-name a {
  color: black;
}

.ppl-desc {
  font-size: 16px;
  //background: blue;
}

.bio {
  display: inline-block;
  //background-color: $grey-color-light;
  padding: 5px;
}

.bio-photo {
   width: 37%;
   float: right;
   margin-left: 15px;
}

.bio-tag {
  font-size: 27px;
  color: $grey-color;
  color: $grey-color-dark;
  font-weight: 700;
}

.bio-summary {
  font-size: 18px;
}

.bio-text {
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
  width: 100%;
}

.bio-link {
  font-size: 18px;
}

.bio-photo-mobile {
   width: 35%;
   float: right;
   margin-left: 15px;
   display: none;
}

@include media-query($on-palm) {
    .bio-photo {
        // float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
        width: 100%;
        display: none;
    }
    
    .bio-photo-mobile {
       width: 100%;
       margin: 0 auto;
       display: block;
     }
     
    .bio-photo-mobile img {
       max-width: 100%;
       margin: 0 auto;
    }
    
    .bio-photo img {
        max-width: 300px;
        margin: 0 auto;
    }
    
    .bio-summary {
        //display: none;
    }
    
    .bio-link {
        display: true;
    }
    
    .bio {
        padding: 0px;
        width: 100%;
    }
    
    .bio-text {
        padding: 0px;
        padding-top: 0px;
        width: 100%;
    }
    
    .bio-tag {
        width: 100%;
        font-size: 23px;
    }
}




/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    padding: $spacing-unit/2 0;
    //text-align: justify;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


.summary {
  display: block;
  background-color: $blue-color;
  border-radius: 5px;
  //font-style: italic;
  border: 2px solid $blue-color;
  margin-top: 10px;
}

.summary p:last-child {
  margin-bottom: 0px;
}

.summary .summary-header{
   font-weight: bold;
   color: white;
   padding: 5px;
   font-size: 18px;
}

.summary .summary-body {
  padding: 5px;
  background-color: $blue-color-light;
  border-radius: 0 0 5px 5px;
}

.postit {
  display: block;
  background-color: $grey-color;
  border-radius: 5px;
  border: 2px solid $grey-color;
  margin-bottom: 15px;
  margin-top: 0px;
}


.postit .postit-header{
   font-weight: bold;
   color: black;
   padding: 5px;
}

.postit .postit-body {
  padding: 5px;
  background-color: $grey-color-light;
  border-radius: 5px;
}

.postit .postit-body p {
  margin-bottom: 0px;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 32px;
    font-weight: 700;
    color: $grey-color-dark;
    line-height: 1;
    margin-top: 10px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
        font-weight: 700;
        color: $grey-color-dark;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        font-weight: 700;
        color: $grey-color-dark;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;
        font-weight: 700;
        color: $grey-color-dark;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.youtube-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 25px;
}

.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.project-wrapper {
  width: 100%;
  position: block;
  background-color: blue;
  border-radius: 5px;
  border: 2px solid $grey-color;
  margin-bottom: $spacing-unit;
}

.project-title {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1;
    background-color: red;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.project-content {
  font-size: 20px;
  background-color: yellow;
  float: right;
  width: 70%;
}

.project-image {
  float: left;
  background-color: orange;
  width: 30%;
}


@include media-query($on-palm) {
  figure img {
     width: 100% !important;
  }
  
  figure .image-double img {
     width: 100% !important;
  }
}

.text-image-img {
    float: left;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    display: inline;
}

.float-right {
   float: right !important;
   margin-left: 10px;
   margin-right: 0px;
}

@include media-query($on-palm) {
  .text-image-img {
    float: none !important;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    width: 80% !important;
    max-height: 400px;
    object-fit: contain;
  }
}

@include media-query($on-palm) {
  .hide-on-mobile {
    display: none !important;
  }
}

.badge {
  background-color: $blue-color;
  color: white;
  padding: 0px 5px;
  text-align: center;
  border-radius: 5px;
}

.badge-blue {
  background-color: $blue-color;
  color: white;
}

.badge-gold {
  background-color: $gold-color-light;
  color: $blue-color-dark;
}

.badge-grey {
  background-color: $grey-color-light;
  color: $grey-color-dark;
}

.badge-blue-light {
  background-color: $blue-color-light;
  color: $blue-color-dark;
}

.badge-blue-lighter {
  background-color: $blue-color-lighter;
  color: $blue-color-dark;
}

.badge-blue-inverted {
  background: none;
  color: $blue-color-dark;
  border: 1px solid $blue-color-dark;
}

a.badge-blue-inverted {
  background: white;
  text-decoration: none;
  color: $blue-color-dark;
}

a.badge-blue-inverted:hover {
  background: $blue-color;
  //background: linear-gradient(45deg, $blue-color-dark, $blue-color);
  text-decoration: none;
  color: white;
}

.badge-gold-inverted {
  background: none;
  color: $gold-color-darker;
  border: 1px solid $gold-color-darker;
}

.badge-grey-inverted {
  background: none;
  color: $grey-color-dark;
  border: 1px solid $grey-color-dark;
}

.badge-purple-inverted {
  background: none;
  color: $purple-color;
  border: 1px solid $purple-color;
}

.badge-magenta-inverted {
  background: none;
  color: $magenta-color;
  border: 1px solid $magenta-color;
}

.footer-logo {
  width: 90%;
}

@include media-query($on-palm) {
  .footer-logo {
  width: 80%;
}
}

.site-title img {
   max-width: calc(100% - 45px);
   }
   
a.callout-button {
  color: $magenta-color;
  background: white;
  border: 1px solid $magenta-color;
  padding: 4px 10px;
  text-align: center;
  border-radius: 900px;
  //font-size: 18px;
}

a.callout-button:hover {
  text-decoration: none;
  background: linear-gradient(45deg, $blue-color, $purple-color, $magenta-color);
  //background: linear-gradient(45deg, $blue-color, $blue-color-dark, $blue-color-darker);
  background: linear-gradient(45deg, $magenta-color, $magenta-color);
  color: white;
  border: 1px solid white;
}


@keyframes pulsate {
    0% {background: linear-gradient(90deg, $blue-color, $magenta-color)}
    25% {background: linear-gradient(90deg, $blue-color, $purple-color)}
    50% {background: linear-gradient(90deg, $magenta-color, $blue-color)}
    75% {background: linear-gradient(90deg, $purple-color, $magenta-color)}
    100% {background: linear-gradient(90deg, $blue-color, $magenta-color)}
}



/* --------- PUBLICATION TREE --------- */

ul.tree, ul.tree ul {
list-style: none;
 margin: 0;
 padding: 0;
   } 
   ul.tree ul {
 margin-left: 10px;
   }
   ul.tree li {
 margin: 0;
 padding: 0 7px;
 line-height: 20px;
 color: #369;
 font-weight: bold;
 border-left:1px solid rgb(100,100,100);
 position: relative;

   }
   ul.tree li span {
 position: absolute;
 left: -6px;
 top: 5px;
 display: inline-block;
 width:10px;  
 height: 10px;
 background-color: red;
 border-radius: 5px;
 
}

   ul.tree li:last-child {
   border-left:none;
   }
   ul.tree li:before {
  position:relative;
  top:-0.3em;
  height:1em;
  width:12px;
  color:white;
  border-bottom:1px solid rgb(100,100,100);
  content:"";
  display:inline-block;
  left:-8px;
   }
   ul.tree li:last-child:before {
  border-left:1px solid rgb(100,100,100);   
   }


