<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    
    <div class="page-content">
        <div class="wrapper">
        <div class="bio">
        <div class="bio-photo">
        <p><img src="{{ page.bio-image }}#center" alt="{{ site.title }}" title="{{ site.title }}" /></p>
        </div>
        <div class="bio-text">
        <p class="bio-tag">{{ page.bio-tag }}</p>
        <p class="bio-summary">{{ page.bio-summary }}</p>
        <p class="bio-summary">{{ page.bio-desc }}</p>
        <!---<p class="bio-link"><a href="/research" class="callout-button">Our Research</a>&nbsp;&nbsp;<a href="/publications" class="callout-button">Publications</a>&nbsp;&nbsp;<a href="https://scholar.google.com/citations?hl=en&user=RDAx4ycAAAAJ&view_op=list_works" target="_blank" class="callout-button">Google Scholar</a></p>--->
        <p class="bio-link"><a href="/research" class="badge badge-blue-inverted">Research</a>&nbsp;&nbsp;<a href="/publications" class="badge badge-blue-inverted">Publications</a>&nbsp;&nbsp;<a href="https://scholar.google.com/citations?hl=en&user=RDAx4ycAAAAJ&view_op=list_works" target="_blank" class="badge badge-blue-inverted">Google Scholar</a></p>
        <!---<p class="bio-link"><a href="/research">Research</a>  |  <a href="/publications">Publications</a>  |  <a href="https://scholar.google.com/citations?hl=en&user=RDAx4ycAAAAJ&view_op=list_works" target="_blank">Google Scholar</a></p>--->
        <!--<p class="bio-link"><a href="/research">Research</a></p>
        <p class="bio-link"><a href="/publications">Publications</a></p>
        <p class="bio-link"><a href="https://scholar.google.com/citations?hl=en&user=RDAx4ycAAAAJ&view_op=list_works" target="_blank">Google Scholar</a></p>-->
        <p>Email: ianroberts [at] ucla [dot] edu</p>
        <p>Lab: 54-147B Engr IV &middot; Ian's Office: 56-147A Engr IV</p>
        <!---<p><a class="callout-button" href="#">Our Research &#8674;</a></p>--->
        <!---<p class="bio-link"><a href="{{ site.cv | prepend: site.baseurl }}" target="_blank">CV</a></p>--->
        </div>
        <div class="bio-photo-mobile">
        <p><a href="{{ page.bio-image-mobile }}" target="_blank"><img src="{{ page.bio-image-mobile }}#center" alt="{{ site.title }}" title="{{ site.title }}" /></a></p>
        </div>
        </div>
        {{ content }}
      </div>
    </div>
    


    {% include footer.html %}
    

  </body>
  
</html>

