---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p><em>Posted: {{ page.date | date: "%B %-d, %Y" }}</em></p>
    {% if page.summary %}
    <div class="summary">
      <div class="summary-header">Summary</div>
      <div class="summary-body">
        {{ page.summary }}
      </div>
    </div>
    {% endif %}
  </header>
  
  <div class="post-content" itemprop="articleBody">

      {{ content }}
  </div>
  
  <div class="project-wrapper">
  <div class="project-title">Hybrid Beamforming for Full-Duplex mmWave Systems</div>  
  <div class="project-image"><img src="/images/fdx/test.png" /></div>      
  <div class="project-content"></div>    
  </div>
  
  <div class="project-wrapper">
  <div class="project-title">Title Goes Here</div>  
  <div class="project-image"><img src="/images/fdx/test.png" /></div>      
  <div class="project-content"></div>    
  </div>

</article>
